<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>CFBundleDisplayName</key>
	<string>Pi Camera</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Raspberry Piカメラサーバーと通信するためにローカルネットワークへのアクセスが必要です。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>撮影した写真を写真アプリに保存するためにアクセスが必要です。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>写真の編集・保存のためにフォトライブラリへのアクセスが必要です。</string>
</dict>
</plist>
